Repository WordPress/openverse-catalog, pull requests merged in 2023-03, with the labels that each got.

#1014 Increase image matview refresh timeout, remove retries, better timeouts
  openverse_catalog/dags/data_refresh/data_refresh_task_factory.py
  openverse_catalog/dags/data_refresh/data_refresh_types.py
  openverse_catalog/dags/data_refresh/refresh_view_data_task_factory.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1008 Wikimedia: re-attempt large batches with reduced parameter selection
  DAGs.md
  openverse_catalog/dags/common/operators/__init__.py
  openverse_catalog/dags/providers/provider_api_scripts/wikimedia_commons.py
  tests/dags/providers/provider_api_scripts/resources/wikimedia/continuation/wmc_continue_max_iter.json
  tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code

#992 Remove Implementation section from issue templates
  .github/ISSUE_TEMPLATE/code_quality.md
  .github/ISSUE_TEMPLATE/infrastructure_improvement.md
Labels: 🟩 priority: low, 📄 aspect: text, 🧰 goal: internal improvement

#1035 Add logging to iNaturalist date check
  openverse_catalog/dags/providers/provider_api_scripts/inaturalist.py
  tests/dags/providers/provider_api_scripts/test_inaturalist.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code

#1036 Temporarily turn off scheduled image data refreshes, increase matview refresh timeout
  DAGs.md
  openverse_catalog/dags/data_refresh/data_refresh_types.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code

#976 Add Airflow variable used to configure overrides for task timeouts
  openverse_catalog/dags/providers/provider_dag_factory.py
  openverse_catalog/dags/providers/provider_reingestion_workflows.py
  openverse_catalog/dags/providers/provider_workflows.py
  tests/dags/providers/test_provider_dag_factory.py
  tests/dags/providers/test_provider_workflows.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#1031 Adjust Flickr max records to account for incorrect reporting
  openverse_catalog/dags/providers/provider_api_scripts/flickr.py
  tests/dags/providers/provider_api_scripts/test_flickr.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1034 Add flickr sub provider auditing dag
  DAGs.md
  openverse_catalog/dags/common/loader/provider_details.py
  openverse_catalog/dags/maintenance/flickr_audit_sub_provider_workflow.py
  tests/dags/maintenance/test_flickr_audit_sub_provider.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#1038 Add trailing slash to Jamendo thumbnail URLs
  openverse_catalog/dags/providers/provider_api_scripts/jamendo.py
  tests/dags/providers/provider_api_scripts/test_jamendo.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1028 Improve license URL validation
  openverse_catalog/dags/common/licenses/licenses.py
  tests/dags/common/licenses/test_licenses.py
  tests/dags/providers/provider_api_scripts/test_jamendo.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#1005 Add a DAG for backfilling license_url when meta_data is null
  DAGs.md
  openverse_catalog/dags/maintenance/add_license_url.py
Labels: 🟨 priority: medium, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#1041 Tweak Flickr time division settings, add logs
  openverse_catalog/dags/providers/provider_api_scripts/flickr.py
  openverse_catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
  openverse_catalog/dags/providers/provider_api_scripts/time_delineated_provider_data_ingester.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1042 Update `LICENSE` to match main repo
  LICENSE
Labels: 🟧 priority: high, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: catalog

#1003 Remove alternate image extraction from SMK, fix foreign landing URL
  openverse_catalog/dags/providers/provider_api_scripts/smk.py
  tests/dags/providers/provider_api_scripts/resources/smk/expected_image_data_hq.json
  tests/dags/providers/provider_api_scripts/resources/smk/expected_image_data_legacy.json
  tests/dags/providers/provider_api_scripts/resources/smk/expected_image_data_partial.json
  tests/dags/providers/provider_api_scripts/resources/smk/item_with_alternative_images.json
  tests/dags/providers/provider_api_scripts/test_smk.py
Labels: 🟧 priority: high, 🛠 goal: fix, 🕹 aspect: interface, 🧱 stack: catalog

#1045 Use Python to group items by license to speed up the query
  openverse_catalog/dags/maintenance/add_license_url.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1050 Add DAG for terminating long-running queries
  DAGs.md
  openverse_catalog/dags/database/terminate_long_queries_workflow.py
Labels: 🟥 priority: critical, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog

#1051 Adjust schedule for long running queries termination
  DAGs.md
  openverse_catalog/dags/database/terminate_long_queries_workflow.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1011 Add option to skip specific ingestion errors
  DAGs.md
  openverse_catalog/dags/maintenance/check_silenced_dags.py
  openverse_catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
  tests/dags/maintenance/test_check_silenced_dags.py
  tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#1052 Update README.md with documentation reference
  README.md
Labels: 🟩 priority: low, 🌟 goal: addition, 📄 aspect: text, 🧱 stack: mgmt

#1048 Remove watermarked setting for SMK
  openverse_catalog/dags/providers/provider_api_scripts/smk.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1049 Handle the upper case licenses in the add_license_dag
  openverse_catalog/dags/maintenance/add_license_url.py
Labels: 🟨 priority: medium, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1040 Add SuggestedSubProvider type
  openverse_catalog/dags/maintenance/flickr_audit_sub_provider_workflow.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#1063 Add required stack label to dependabot PRs
  .github/dependabot.yml
Labels: 🟧 priority: high, 🛠 goal: fix, 🤖 aspect: dx, 🧱 stack: mgmt

#1047 Update Flickr large batch handling
  openverse_catalog/dags/providers/provider_api_scripts/flickr.py
  openverse_catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
  openverse_catalog/dags/providers/provider_api_scripts/time_delineated_provider_data_ingester.py
  tests/dags/providers/provider_api_scripts/test_flickr.py
  tests/dags/providers/provider_api_scripts/test_time_delineated_provider_data_ingester.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#1070 Update pgcli version to 3.5.0
  docker/local_postgres/Dockerfile
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog

#1058 Log last query_params hit before AirflowTaskTimeout
  openverse_catalog/dags/providers/provider_api_scripts/provider_data_ingester.py
Labels: 🟨 priority: medium, 🌟 goal: addition, 💻 aspect: code, 🧱 stack: catalog

#1072 Offset iNaturalist DAG from monthly by one day
  DAGs.md
  openverse_catalog/dags/providers/provider_workflows.py
Labels: 🟧 priority: high, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#1074 Create DAG to fix PhyloPic's `foreign_identifier` column
  DAGs.md
  openverse_catalog/dags/maintenance/fix_phylopic_foreign_identifier.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1060 Update PhyloPic DAG to use API v2
  DAGs.md
  openverse_catalog/dags/providers/provider_api_scripts/phylopic.py
  openverse_catalog/dags/providers/provider_workflows.py
  tests/dags/providers/provider_api_scripts/resources/phylopic/correct_meta_data_example.json
  tests/dags/providers/provider_api_scripts/resources/phylopic/image_ids_example.json
  tests/dags/providers/provider_api_scripts/resources/phylopic/initial_request.json
  tests/dags/providers/provider_api_scripts/resources/phylopic/no_image_url_example.json
  tests/dags/providers/provider_api_scripts/resources/phylopic/sample_record.json
  tests/dags/providers/provider_api_scripts/test_phylopic.py
Labels: 🟥 priority: critical, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog
