Repository WordPress/openverse-catalog, pull requests merged in 2023-04, with the labels that each got.

#1085 Improve request count logging for Flickr
  openverse_catalog/dags/providers/provider_api_scripts/flickr.py
Labels: 🟩 priority: low, ✨ goal: improvement, 💻 aspect: code, 🧱 stack: catalog

#1078 Move terminate long queries DAG to retired
  DAGs.md
  openverse_catalog/dags/retired/database/terminate_long_queries_workflow.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#1084 Retired update_phylopic_foreign_identifier DAG.
  DAGs.md
  openverse_catalog/dags/retired/fix_phylopic_foreign_identifier.py
Labels: 🟩 priority: low, 💻 aspect: code, 🧰 goal: internal improvement, 🧱 stack: catalog

#1086 Check required fields in media store
  openverse_catalog/dags/common/storage/media.py
  openverse_catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  tests/dags/common/storage/test_media.py
  tests/dags/providers/provider_api_scripts/test_metropolitan_museum.py
Labels: bug, 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1088 Update references to just airflow in README #1076
  README.md
Labels: 🟩 priority: low, 🛠 goal: fix, 📄 aspect: text, 🧱 stack: catalog

#1091 Extend image matview refresh to 21 days
  openverse_catalog/dags/data_refresh/data_refresh_types.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1093 Retire image expiration dag
  DAGs.md
  openverse_catalog/dags/common/loader/sql.py
  openverse_catalog/dags/retired/common/loader/sql.py
  openverse_catalog/dags/retired/database/image_expiration_workflow.py
  tests/dags/common/loader/test_sql.py
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog

#1102 Handle empty string urls for Metropolitan
  openverse_catalog/dags/providers/provider_api_scripts/metropolitan_museum.py
  tests/dags/providers/provider_api_scripts/test_metropolitan_museum.py
Labels: bug, 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1099 Add region to rotate_rds_snapshots DAG
  openverse_catalog/dags/maintenance/rotate_db_snapshots.py
  tests/dags/maintenance/test_rotate_db_snapshots.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1059 JSON retrieval function across all provider_api_scripts tests
  tests/dags/providers/provider_api_scripts/resources/FakeSource.py
  tests/dags/providers/provider_api_scripts/resources/json_load.py
  tests/dags/providers/provider_api_scripts/test_brooklyn_museum.py
  tests/dags/providers/provider_api_scripts/test_cleveland_museum.py
  tests/dags/providers/provider_api_scripts/test_europeana.py
  tests/dags/providers/provider_api_scripts/test_finnish_museums.py
  tests/dags/providers/provider_api_scripts/test_flickr.py
  tests/dags/providers/provider_api_scripts/test_freesound.py
  tests/dags/providers/provider_api_scripts/test_jamendo.py
  tests/dags/providers/provider_api_scripts/test_make_resource_json_func.py
  tests/dags/providers/provider_api_scripts/test_metropolitan_museum.py
  tests/dags/providers/provider_api_scripts/test_museum_victoria.py
  tests/dags/providers/provider_api_scripts/test_nappy.py
  tests/dags/providers/provider_api_scripts/test_nypl.py
  tests/dags/providers/provider_api_scripts/test_phylopic.py
  tests/dags/providers/provider_api_scripts/test_provider_data_ingester.py
  tests/dags/providers/provider_api_scripts/test_rawpixel.py
  tests/dags/providers/provider_api_scripts/test_science_museum.py
  tests/dags/providers/provider_api_scripts/test_smithsonian.py
  tests/dags/providers/provider_api_scripts/test_smk.py
  tests/dags/providers/provider_api_scripts/test_stocksnap.py
  tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
  tests/dags/providers/provider_api_scripts/test_wordpress.py
Labels: 🟩 priority: low, 🤖 aspect: dx, 🧰 goal: internal improvement, 🧱 stack: catalog

#1103 Fix linting
  tests/dags/providers/provider_api_scripts/test_wikimedia_commons.py
Labels: 🟧 priority: high, 🛠 goal: fix, 💻 aspect: code, 🧱 stack: catalog

#1105 Monorepo archive notice
  README.md
Labels: 🟧 priority: high, 🤖 aspect: dx, 🧰 goal: internal improvement
